<div class="car-selector-container" id="ab-test-app">
  <div class="car-selector-title">
    <h3>Get an Instant quote now</h3>
    <p>Tell us your car model, we’ll tell you the best deal:</p>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <ab-dropdown model="carBrand" options="carBrandDropdown" api-handler="getDropdownItem()"></ab-dropdown>
    </div>

    <div class="col-lg-6">
      <ab-dropdown model="carModel" options="carModelDropdown" depend-on="{brand: carBrand}" watch-on="carBrand"
                   api-handler="getDropdownItem()"></ab-dropdown>
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-lg-6">
      <ab-dropdown model="carYear" options="carYearDropdown" depend-on="{brand: carBrand, model: carModel}" watch-on="carModel"
                   api-handler="getDropdownItem()"></ab-dropdown>
    </div>
    <div class="col-lg-6">
      <ab-dropdown model="trimData" options="carTrimDropdown"
                   watch-on="carYear"
                   depend-on="{brand: carBrand, model:carModel, year: carYear}"
                   api-handler="getDropdownItem()"></ab-dropdown>
    </div>
  </div>
  <div class="error-message" ng-show="showErrorMsg">
    <i class="m-cgg-icon--warning"></i> Please answer the questions so we can give you an accure quote
  </div>
  <ab-button class="btn-trackable"
             options="getResultBtnOptions"
             ng-show="!result"
             ng-click="resultHandler()"
             ga-category="car-insurance"
             ga-action="Front Page Buttons"
             ga-label="Find the best insurance for my car">
    <div class="car-selector-button__main-text">Find the cheapest Car Insurance for my car</div>
  </ab-button>

  <div class="result-container row" ng-if="result">
    <div class="col-lg-12">
      <div class="result-title">
        <strong>The cheapest deal for your car starts at :</strong>
      </div>
      <div class="result-item">

        <div class="result-price">
          {{result.price.original | currency : '' : 0}} PHP/year
        </div>
        <div class="result-deductible">
          Deductible: {{result.price.deductible | currency : '' : 0}} PHP
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <ab-button class="btn-trackable"
                 options="getFunnelBtnOptions"
                 ng-show="result"
                 ng-click="goToFunnel()"
                 ga-category="car-insurance"
                 ga-action="Front Page Buttons"
                 ga-label="Show results">
        <div class="car-selector-button__main-text">See this deal and all other results</div>
        <div class="car-selector-button__secondary-text">Get instant replies, free and non-binding</div>
      </ab-button>
      <div class="result-footnote">
        *Prices might change once all considerations have been filled in.
      </div>
    </div>
  </div>
</div>
