#ab-test-app
  width: 580px
  font-family: proxima-nova, "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif

.car-selector-container
  border-radius: 4px
  background-color: #ffffff
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5)
  padding: 25px

.car-selector-title
  text-align: center

  h3
    font-size: 30px
    font-weight: bold
    color: #076b9c

  p
    font-size: 20px
    color: #312f2e

.margin-bottom
  margin-bottom: 15px

.error-message
  font-size: 16px
  line-height: 1
  text-align: left
  color: #ff533f

.result-title
  font-size: 16px
  color: #312f2e

.result-item
  margin: 10px 0
  padding: 15px
  min-height: 40px
  background-color: #e6f1f9

.result-price
  font-size: 24px
  font-weight: bold
  text-align: right
  color: #076b9c

.result-deductible
  font-size: 15px
  text-align: right
  color: #312f2e

