<div class="car-selector-container" id="ab-test-app">
  <div class="car-selector-title">
    Tell us your car model, we’ll tell you the best deal:
  </div>

  <div class="row">
    <div class="col-lg-6">
      <ab-dropdown model="carBrand" options="carBrandDropdown" api-handler="getDropdownItem()"></ab-dropdown>
    </div>

    <div class="col-lg-6">
      <ab-dropdown model="carModel" options="carModelDropdown" depend-on="{brand: carBrand}"
                   api-handler="getDropdownItem()"></ab-dropdown>
    </div>
  </div>

  <div class="row margin-bottom">
    <div class="col-lg-6">
      <ab-dropdown model="carYear" options="carYearDropdown" depend-on="{brand: carBrand, model: carModel}"
                   api-handler="getDropdownItem()"></ab-dropdown>
    </div>
    <div class="col-lg-6">
      <ab-dropdown model="trimData" options="carTrimDropdown"
                   depend-on="{brand: carBrand, model:carModel, year: carYear}"
                   api-handler="getDropdownItem()"></ab-dropdown>
    </div>
  </div>
  <div class="error-message" ng-show="showErrorMsg">
    <i> icon </i> Please answer the questions so we can give you an accure quote
  </div>
  <ab-button options="getResultBtnOptions" ng-show="!result" ng-click="resultHandler()">
    <div class="car-selector-button__main-text">Fill out the questions and find the best insurance</div>
    <div class="car-selector-button__secondary-text">Get instant replies, free and non-binding</div>
  </ab-button>

  <div class="result-container row" ng-if="result">
    <div class="col-lg-12">
      <div class="result-title">
        The cheapest deal for your car is offered by <strong>{{result.name}}:*</strong>
      </div>
      <div class="result-item">

        <div class="result-price">
          {{result.price.original}} PHP/year
        </div>
        <div class="result-deductible">
          Deductible: {{result.price.deductible}} PHP
        </div>
      </div>
    </div>
  </div>
  <ab-button ng-show="result" ng-click="goToFunnel()">
    <div class="car-selector-button__main-text">See this deal and all other results</div>
    <div class="car-selector-button__secondary-text">Get instant replies, free and non-binding</div>
  </ab-button>
</div>
