<span class="cgg-spinner" ng-class="{'cgg-spinner__{{options.color}}': options.color}">
    <span class="sk-placeholder" ng-show="options.placeholder" ng-class="{'sk-placeholder__{{options.size}}': options.size}" style="float: {{options.placeholder.position ? options.placeholder.position : 'left'}}">{{options.placeholder}}</span>
    <div class="sk-circle" ng-class="{'sk-circle__{{options.size}}': options.size}">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</span>