#ab-test-app {
    width: 580px;
    font-family: proxima-nova,"Helvetica Neue",Helvetica,"Open Sans",Arial,sans-serif
}

.car-selector-container {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    padding: 25px;
    font-family: ProximaNova;
}

.car-selector-title {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #312f2e;
}

.car-selector-dropdown {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: inset 0 -4px 0 0 #e7e6e2;
    border: solid 1px #cccbc8;
    font-size: 18px;
    line-height: 1.11;
    text-align: left;

    color: #312f2e;
    margin: 5px 0;
}

/*  todo */
.car-selector-dropdown:disabled {
    color: #979290;
}

.car-selector-dropdown.error {
    border: solid 3px #ff533f;
}

.car-selector-button {
    display: block;
    width: 100%;
    min-height: 40px;
    border-radius: 3px;
    background-color: #f58423;
    box-shadow: inset 0 -4px 0 0 #e56035;
    text-align: center;
    padding: 10px;
}

.car-selector-button:hover {
    text-decoration: none;
    cursor: pointer;
}

.car-selector-button__main-text {
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.car-selector-button__secondary-text {
    width: 495px;
    height: 17px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

.margin-bottom {
    margin-bottom: 15px;
}

.error-message {
    font-size: 16px;
    line-height: 1;
    text-align: left;
    color: #ff533f;
}

.result-title {
    font-size: 16px;
    color: #312f2e;
}

.result-item {
    margin: 10px 0;
    padding: 15px;
    min-height: 40px;
    background-color: #e6f1f9;
}

.result-price {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    color: #076b9c;
}

.result-deductible {
    font-size: 15px;
    text-align: right;
    color: #312f2e;
}
