.car-selector-dropdown
  width: 100%
  height: 45px
  border-radius: 3px
  background-color: #ffffff
  box-shadow: inset 0 -4px 0 0 #e7e6e2
  border: solid 1px #cccbc8
  font-size: 18px
  line-height: 1.11
  text-align: left
  color: #312f2e
  margin: 5px 0
  cursor: pointer
  @media (max-width: $screen-md)
    height: 50px
    padding: 0 15px
  /*  todo */
  &:disabled
    color: #979290
    cursor: not-allowed

  &.error
    border: solid 3px #ff533f
