<div class="ab-container" id="ab-test-app">
  <h3 class="ab-title">Tell us about your car, and we’ll tell you the best
    Car Insurance deals from all 20 providers in Denmark</h3>
  <div class="ab-panel">
    <div class="ab-panel-item ab-panel-plate">
      <ab-car-plate model="plateNumber" options="plateNumberOptions"></ab-car-plate>
    </div>

    <div class="ab-separator-container">
      <div class="ab-separator-text">OR</div>
      <div class="ab-separator-line"></div>
    </div>

    <div class="ab-panel-item">
      <ab-dropdown model="vehicleType" options="vehicleTypeOptions"></ab-dropdown>
    </div>

    <div class="ab-separator-container ab-separator-2">
      <div class="ab-separator-line"></div>
    </div>

    <div class="ab-panel-item">
      <ab-button class="btn-trackable ab-cta-button"
                 options="buttonOptions"
                 ng-click="click()"
                 ga-category="car-insurance"
                 ga-action="Landing Page Buttons"
                 ga-label="Go to funnel">
        <div class="car-selector-button__main-text">Find Insurance</div>
      </ab-button>
    </div>
  </div>

  <div class="ab-trustpilot-container">
    <div class="trustpilot-widget" data-locale="da-DK" data-template-id="5419b732fbfb950b10de65e5"
         data-businessunit-id="5473401a00006400057bbac8" data-style-height="20px" data-style-width="100%"
         data-theme="dark">
      <a href="https://dk.trustpilot.com/review/samlino.dk" target="_blank">Trustpilot</a>
    </div>
    <div class="ab-trustpilot__eye"><img src="{{assetsUrl}}/emaerket-white.png"></div>
  </div>
  <div class="ab-footer">
    <span>As seen on:</span>
    <span ng-repeat="item in footerImages">
      <img ng-src="{{assetsUrl}}/{{item}}.png">
    </span>
  </div>
</div>
